{
  "env": {
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true,
            "autoLabel": true
          }
        ],
        "transform-inline-environment-variables"
      ],
      "presets": [
        "next/babel"
      ]
    },
    "production": {
      "plugins": [
        [
          "emotion",
          {
            "hoist": true
          }
        ],
        "transform-inline-environment-variables"
      ],
      "presets": [
        "next/babel"
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    }
  }
}
