{
  "env": {
    "development": {
      "plugins": [
        "transform-inline-environment-variables"
      ],
      "presets": [
        "next/babel",
        ["@emotion/babel-preset-css-prop",
          {
            "sourceMap": true,
            "autoLabel": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-inline-environment-variables",
        [
          "babel-plugin-import",
          {
             "libraryName": "@material-ui/core",
             "libraryDirectory": "",
             "camel2DashComponentName": false
          },
          "tree-shaking-mui-core"
        ],
        [
           "babel-plugin-import",
           {
              "libraryName": "@material-ui/icons",
              "libraryDirectory": "",
              "camel2DashComponentName": false
           },
           "tree-shaking-mui-icons"
        ]
      ],
      "presets": [
        "next/babel",
        ["@emotion/babel-preset-css-prop",
          {
            "hoist": true
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    }
  }
}
