/*! CSS Used from: Embedded */
svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-w-8 {
  width: 0.5em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
/*! CSS Used from: https://www.veterans.gc.ca/GCWeb_5.0.1/GCWeb/css/theme.min.css */
header,
nav,
section {
  display: block;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
strong {
  font-weight: 700;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after {
    content: "";
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a:focus,
a:hover {
  color: #0535d2;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
hr {
  margin-top: 23px;
  margin-bottom: 23px;
  border: 0;
  border-top: 1px solid #eee;
}
.h2,
.h3,
.h6,
h2,
h3 {
  line-height: 1.1;
  color: inherit;
}
.h2,
.h3,
h2,
h3 {
  margin-top: 23px;
  margin-bottom: 11.5px;
}
.h6 {
  margin-bottom: 11.5px;
}
p {
  margin: 0 0 11.5px;
}
.text-right {
  text-align: right;
}
ul {
  margin-top: 0;
  margin-bottom: 11.5px;
}
ul ul {
  margin-bottom: 0;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
abbr[title] {
  cursor: help;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container:after,
.container:before {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:after,
.row:before {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.col-lg-4,
.col-md-12,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-8,
.col-sm-6,
.col-xs-12,
.col-xs-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12,
.col-xs-8 {
  float: left;
}
.col-xs-8 {
  width: 66.6666666667%;
}
.col-xs-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-sm-6 {
    float: left;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-md-12,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-8 {
    float: left;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control {
  display: block;
  height: 37px;
  font-size: 16px;
  line-height: 1.4375;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #5c5c5c !important;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #5c5c5c !important;
}
.form-control::-webkit-input-placeholder {
  color: #5c5c5c !important;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-group {
  margin-bottom: 15px;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 1.4375;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:active:focus,
.btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:focus,
.btn:hover {
  color: #335075;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group .form-control:focus {
  z-index: 3;
}
.input-group .form-control,
.input-group-btn {
  display: table-cell;
}
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-btn:last-child > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn:active,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:hover {
  z-index: 2;
}
.input-group-btn:last-child > .btn {
  z-index: 2;
  margin-left: -1px;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.visible-xs {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
a {
  text-decoration: underline;
}
a:visited {
  color: #7834bc;
}
.h2,
h2 {
  margin-top: 38px;
}
.h3,
h3 {
  margin-top: 32px;
}
.h6 {
  margin-top: 21px;
}
.form-control {
  max-width: 100%;
  width: auto;
}
.btn {
  border-style: outset;
  height: auto;
  min-height: 36px;
  min-width: 36px;
  white-space: normal;
}
.wb-inv {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.mrgn-lft-sm {
  margin-left: 5px;
}
.mrgn-bttm-0 {
  margin-bottom: 0;
}
.mrgn-bttm-sm {
  margin-bottom: 5px;
}
.mrgn-tp-0 {
  margin-top: 0;
}
.mrgn-tp-sm {
  margin-top: 5px;
}
.mrgn-tp-md {
  margin-top: 15px;
}
.mrgn-rght-0 {
  margin-right: 0;
}
.brdr-0 {
  border: 0 !important;
}
.full-width {
  width: 100%;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.expicon {
  font-size: 0.7em;
  margin: 0 -0.35em 0 0.7em;
}
@media print {
  a[href]:after {
    content: none;
  }
}
a {
  color: #284162;
}
[placeholder],
input[placeholder] {
  color: #5c5c5c !important;
}
.h2,
.h3,
.h6,
h2,
h3 {
  font-family: Lato, sans-serif;
}
.h2,
.h3,
.h6,
h2,
h3 {
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 600;
}
.h3,
.h6 {
  border: 0;
}
:not(#wb-srch) form,
form .btn:not(.btn-call-to-action) {
  font-size: 16px;
  line-height: 23px;
}
.form-control,
form .btn:not(.btn-call-to-action) {
  padding: 6px 12px;
}
.home h2 {
  font-size: 1.2em;
}
.h2,
h2 {
  font-size: 1.8em;
}
.h3,
h3 {
  font-size: 1.2em;
}
.h6 {
  font-size: 0.95em;
  font-weight: 400;
}
header {
  position: relative;
}
header .brand {
  margin-bottom: 10px;
  padding-top: 10px;
}
header .brand a {
  display: block;
  height: auto;
  padding-bottom: 0;
  width: auto;
}
header .brand a:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
header .brand img {
  height: auto;
  max-height: 40px;
}
header .brand img {
  margin-bottom: 0.375em;
}
.btn {
  font-family: Lato, sans-serif;
}
header .brand {
  padding-bottom: 0;
}
header .brand a {
  position: relative;
  text-decoration: none;
}
.home .gcweb-menu {
  border-top: 1px solid #ddd;
  color: #284162;
  margin-left: 0;
}
.home .gcweb-menu button[aria-haspopup="true"] {
  background-color: #fff;
  border-color: #fff;
  color: #284162;
}
.home .gcweb-menu button[aria-haspopup="true"]:hover {
  background-color: #444;
  color: #fff;
}
.gcweb-menu {
  border-top: 3px solid #38414d;
  font-size: 20px;
  margin-top: 5px;
}
.gcweb-menu .container {
  padding: 0;
}
.gcweb-menu button[aria-haspopup="true"] {
  background-color: #26374a;
  border: 1px solid #26374a;
  color: #fff;
  padding: 0.5em 1em;
  text-transform: uppercase;
}
.gcweb-menu button[aria-haspopup="true"]:hover {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
.gcweb-menu button[aria-haspopup="true"]:focus {
  background-color: #fff;
  border: 1px dotted #555;
  color: #333;
}
.gcweb-menu [aria-haspopup="true"][aria-expanded="false"] + [role="menu"] {
  display: none;
}
.gcweb-menu [role="menu"] {
  background-color: #444;
  color: #fff;
  list-style: none;
  padding: 0;
  position: absolute;
}
.gcweb-menu [role="menu"] > li {
  border-left: #444 solid 1px;
}
.gcweb-menu [role="menu"] > li:first-child {
  border-top: #444 solid 1px;
}
.gcweb-menu [role="menu"] > li:last-child {
  border-bottom: #444 solid 1px;
}
.gcweb-menu [role="menu"] > li [role="menu"] > li {
  border: none;
}
.gcweb-menu [role="menuitem"] {
  display: block;
  padding: 14px 30px;
  width: 360px;
}
.gcweb-menu [role="menuitem"],
.gcweb-menu [role="menuitem"]:visited {
  border-bottom: 1px solid #555;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.gcweb-menu li:last-child [role="menuitem"] {
  border-bottom: none;
}
.gcweb-menu [role="menuitem"]:hover {
  background-color: #fff;
  color: #333;
}
.gcweb-menu [role="menu"] [role="menu"] {
  background-color: #fff;
  border-top: #eee solid 1px;
  -webkit-box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
  color: #000;
  left: 360px;
  margin-bottom: 25px;
  min-height: 815px;
  padding: 0 39px 24px;
  top: 0;
  width: 810px;
}
.gcweb-menu [role="menu"] [role="menu"] [role="menuitem"] {
  border-bottom: none;
  color: #000;
  width: auto;
}
.gcweb-menu [role="menu"] [role="menu"] li [role="menuitem"] {
  color: #284162;
  padding: 6px 0;
  text-decoration: underline;
}
.gcweb-menu [role="menu"] [role="menu"] li [role="menuitem"]:hover {
  color: #0535d2;
}
.gcweb-menu [role="menu"] [role="menu"] li:first-child [role="menuitem"] {
  font-size: 32px;
  font-weight: 600;
  text-decoration: underline;
}
.gcweb-menu [role="menu"] [role="menu"] li {
  width: 45%;
}
.gcweb-menu [role="menu"] [role="menu"] li:first-child {
  margin-bottom: 1.5em;
  width: 100%;
}
.gcweb-menu [role="menu"] [role="menu"] li:last-child {
  left: 400px;
  position: absolute;
  top: 4.5em;
}
@media screen and (max-width: 767px) {
  header .brand a {
    margin-top: 15px;
  }
  .gcweb-menu .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 991px) {
  .h2,
  h2 {
    font-size: 1.6em;
  }
  header .brand a {
    margin-top: 10px;
  }
  .gcweb-menu [role="menu"] {
    position: static;
  }
  .gcweb-menu [role="menuitem"] {
    width: auto;
  }
  .gcweb-menu [role="menu"] [role="menu"] li:first-child [role="menuitem"] {
    font-size: 18px;
    font-weight: 400;
    width: auto;
  }
  .gcweb-menu [role="menu"] {
    width: auto;
  }
  .gcweb-menu [role="menu"] [role="menu"] {
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    min-height: auto;
    padding: 0;
    width: auto;
  }
  .gcweb-menu [role="menu"] [role="menu"] li {
    width: auto;
  }
  .gcweb-menu button:hover {
    text-decoration: underline;
  }
  .gcweb-menu
    button
    + [role="menu"]
    [role="menuitem"][aria-expanded="false"]:focus,
  .gcweb-menu
    button
    + [role="menu"]
    [role="menuitem"][aria-expanded="false"]:hover {
    background: 0 0;
    color: #fff;
  }
  .gcweb-menu [role="menu"] [role="menu"] li:first-child {
    margin-bottom: 0;
  }
  .gcweb-menu [role="menu"] [role="menu"] li [role="menuitem"] {
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 30px;
    padding-top: 14px;
  }
  .gcweb-menu [aria-haspopup]:not(button)::before {
    content: "\25BA\a0";
  }
  .gcweb-menu [role="menu"] [role="menu"] [role="menuitem"],
  .gcweb-menu [role="menu"] [role="menu"] li:first-child [role="menuitem"] {
    border-bottom: 1px solid #ccc;
    color: #000;
    text-decoration: none;
  }
  .gcweb-menu [role="menu"] [role="menu"] [role="menuitem"]:focus,
  .gcweb-menu [role="menu"] [role="menu"] [role="menuitem"]:hover,
  .gcweb-menu
    [role="menu"]
    [role="menu"]
    li:first-child
    [role="menuitem"]:focus,
  .gcweb-menu
    [role="menu"]
    [role="menu"]
    li:first-child
    [role="menuitem"]:hover {
    color: #000;
    text-decoration: underline;
  }
  .gcweb-menu [role="menu"] [role="menu"] li:first-child [role="menuitem"],
  .gcweb-menu [role="menu"] [role="menu"] li:last-child [role="menuitem"] {
    background-color: #e1e1e1;
  }
  .gcweb-menu [role="menu"] [role="menu"] li:last-child {
    left: auto;
    position: static;
    top: auto;
  }
}
@media screen and (max-width: 479px) {
  header .brand {
    float: none !important;
    width: auto !important;
  }
  header .brand img {
    max-height: 25px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .gcweb-menu [role="menu"] [role="menu"] li {
    width: 100%;
  }
  .gcweb-menu [role="menu"] [role="menu"] li:last-child {
    left: auto;
    margin-top: 1em;
    position: relative;
    top: auto;
  }
}
@media print {
  .gcweb-menu {
    display: none !important;
  }
  header .brand {
    margin-bottom: 0;
  }
}
/*! CSS Used from: https://www.veterans.gc.ca/css/2018-redesign/2018-redesign-custom-min.css */
.container {
  outline: 0 !important;
}
.h2,
.h3,
.h6,
h2,
h3 {
  color: #2f3437;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-bottom: 16px;
}
.h2,
.home .h2,
.home h2,
h2 {
  font-size: 28px;
  letter-spacing: -0.5px;
}
.h3,
.home .h3,
.home h3,
h3 {
  font-size: 22px;
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.5px;
  font-weight: 700;
}
.h6,
.home .h6 {
  line-height: normal;
  font-size: 10px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
li {
  letter-spacing: -0.03em;
}
li {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  margin-bottom: 16px;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
  color: #2f3437;
  text-decoration: underline;
}
hr {
  border-top-color: #d5e2e9;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #434458;
  text-decoration: none;
}
#search-wrapper input#vac-search.form-control,
#wb-bnr,
#wb-bnr a,
nav.gcweb-menu button,
nav.gcweb-menu ul#menu-pnl > li {
  font-family: Montserrat, sans-serif;
}
nav.gcweb-menu [role="menu"] [role="menu"] li:not(:first-child) {
  width: 50%;
}
nav.gcweb-menu [role="menu"] [role="menu"] li[role="separator"] {
  width: 100%;
}
nav.gcweb-menu [role="menu"] [role="menu"] li:last-child {
  position: static;
  top: auto;
  left: auto;
}
nav.gcweb-menu [role="menu"] [role="menu"] li:first-child {
  margin-bottom: auto;
}
nav.gcweb-menu button[aria-haspopup="true"] {
  background-color: #fff;
  border: none;
  color: #2f3437;
}
nav.gcweb-menu [role="menuitem"]:hover,
nav.gcweb-menu button#menu-button:active,
nav.gcweb-menu button#menu-button:focus,
nav.gcweb-menu button#menu-button:hover,
nav.gcweb-menu ul#menu-pnl > li {
  color: #fff;
  background-color: #2f3437;
}
nav.gcweb-menu button[aria-haspopup="true"]:hover {
  color: #fff;
  background-color: #2f3437;
  border: 0;
}
nav.gcweb-menu button {
  font-weight: 700;
}
nav.gcweb-menu ul#menu-pnl {
  background: #2f3437;
}
nav.gcweb-menu ul#menu-pnl > li {
  font-weight: 400;
}
nav.gcweb-menu ul#menu-pnl > li a:focus,
nav.gcweb-menu ul#menu-pnl > li a:hover {
  background-color: #fff;
}
nav.gcweb-menu ul#menu-pnl > li [aria-haspopup="true"]:focus,
nav.gcweb-menu ul#menu-pnl > li [aria-haspopup="true"]:hover {
  background-color: #fff;
  color: #2f3437;
}
nav.gcweb-menu ul#menu-pnl ul {
  background: #fff;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  width: 620px;
  border: 1px solid #d5e2e9;
}
nav.gcweb-menu ul#menu-pnl li li {
  background: #fff;
}
nav.gcweb-menu ul#menu-pnl a {
  font-size: 18px;
  color: #fff;
}
nav.gcweb-menu ul#menu-pnl p {
  font-size: 16px;
  line-height: 1.25;
  color: #2f3437;
  margin: 5px 0 10px;
}
nav.gcweb-menu ul#menu-pnl a.h2 {
  font-size: 24px;
  line-height: 1.25;
  color: #2f3437;
  margin: 25px 0 5px;
}
nav.gcweb-menu ul#menu-pnl a.h3 {
  font-size: 18px;
  line-height: 1.25;
  color: #2f3437;
  margin: 5px 0;
}
@media screen and (max-width: 991px) {
  nav.gcweb-menu ul#menu-pnl ul {
    width: 100%;
    position: relative;
    left: 15px;
  }
  .gcweb-menu [role="menu"] [role="menu"] li:first-child [role="menuitem"],
  .gcweb-menu [role="menu"] [role="menu"] li:last-child [role="menuitem"] {
    background: 0 0;
    border: none;
  }
  .gcweb-menu [role="menu"] [role="menu"] [role="menuitem"],
  .gcweb-menu [role="menu"] [role="menu"] li:first-child [role="menuitem"] {
    border-bottom: 1px solid #ccc;
    color: #000;
    text-decoration: none;
  }
  nav.gcweb-menu [role="menu"] [role="menu"] li,
  nav.gcweb-menu [role="menu"] [role="menu"] li:not(:first-child) {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
  nav.gcweb-menu li:last-child > a[role="menuitem"] {
    border-bottom: inherit;
  }
  nav.gcweb-menu ul#menu-pnl a.h2 {
    margin: 5px 0;
  }
}
.form-control {
  border: none !important;
  border-bottom: 1px solid #c1c5cb !important;
  box-shadow: none !important;
  border-radius: 0;
}
#search-wrapper {
  background: #fff;
  border: 1px solid #d5e2e9 !important;
}
#search-wrapper input#vac-search.form-control {
  background: #f4f7f9;
  border: none !important;
  font-weight: 700;
  font-size: 14px;
  color: #686969;
  padding-right: 0;
}
button#search-button {
  background: #f4f7f9;
  border: none !important;
}
.btn-search {
  outline: 0;
  border: none;
  background: rgba(255, 255, 255, 0);
}
#wb-bnr .brand {
  margin: 16px 0;
}
#wb-bnr .brand a img {
  height: 26px;
}
#wb-bnr img#mva-logo {
  height: 20px;
  position: relative;
  top: 1px;
}
#wb-bnr .utility-links {
  margin: 10px 0 0;
}
#wb-bnr img#language-globe,
#wb-bnr img#maple-leaf {
  height: 20px;
  margin-left: 5px;
  position: relative;
  top: -2px;
}
#wb-bnr,
#wb-bnr a {
  color: #fff;
  font-size: 10px;
  text-decoration: none;
}
#wb-bnr a {
  padding: 0 8px;
  text-transform: uppercase;
}
#wb-bnr a:hover {
  color: #838d9b;
  text-decoration: underline;
}
.bg-white {
  background: #fff;
}
.bg-black {
  background: #2e2e40;
}
.letter-spacing-md {
  letter-spacing: 0.25em;
}
.brdr-med-dark-grey {
  border-color: #434458;
}
.btn,
button.btn {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  border-radius: 0 !important;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
.border-bttm {
  border: 1px solid #d5e2e9;
}
@media only screen and (max-width: 425px) {
  nav.gcweb-menu button[aria-haspopup="true"] {
    padding-left: 0;
  }
  .gcweb-menu button[aria-haspopup="true"]:hover,
  nav.gcweb-menu button#menu-button:active,
  nav.gcweb-menu button#menu-button:focus,
  nav.gcweb-menu button#menu-button:hover {
    background-color: #fff;
    color: #2f3437;
  }
}
@media only screen and (max-width: 767px) {
  #wb-bnr .utility-links > ul {
    text-align: left;
  }
  #wb-bnr .utility-links {
    margin: 0;
  }
  .btn {
    font-size: 16px;
    width: 100%;
    display: inline-block;
  }
}
@media only screen and (min-width: 1200px) {
  nav.gcweb-menu ul#menu-pnl ul {
    width: 810px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #wb-bnr .utility-links {
    margin: 8px 0 0;
  }
}
