$font-size: 20px;
$logo-width: 4000px;

.example {
  font-size: $font-size;
}

.button {
  margin: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: #aaa;
  text-align: center;
}
